/*@charset "utf-8";*/

/*@media screen and (min-width: 640px) {
    .navbar-left:0px;
}
*/
@media screen and (min-width: 768px) and (max-width:992px){
	.reveal-modal{
		width:96%!important;
		margin-left:2%!important;
		left:0!important;
		padding:110px 0 0!important;
		position:absolute!important;
	}
	.reveal-modal .reveal_left{
		width:90px;
		height:90px;
		position:absolute;
		top:20px;
		left:50%;
		margin:0 0 0 -45px;
	}
	.reveal-modal .reveal_left>img{
		width:90px;
		height:90px;
	}
	.reveal-modal .reveal_right{
		width: 100%;
	}
	.reveal-modal .reveal_right h1,.reveal-modal .reveal_right>span{
		text-align:center;	
	}
	.reveal-modal .reveal_right h1{
		margin:5px 0 0;	
		font-size:18px;
	}
	.reveal-modal .reveal_right>span{
		margin:0 0 20px;
		font-size:16px;
	}
	.reveal-modal .reveal_right>p{
		line-height:20px;
		padding:0 30px;
	}
	
	#startupsImg{
		height:950px;
	}
	#register .headvideo{
		height:400px;
	}
	#register .rightvideo{
		height:400px;
	}
	#register .rightvideo .gtco-video{
		height:400px;
	}
	.EventContent{
		padding:30px 8%;
		width:100%;
	}
	.EventContent .EventContentTop h4{
		margin-left:0;
	}
	/****首页index*****/
	.reveal-modal{
		
	}
	#overview .container .row .wow:nth-of-type(2){
		width:50%!important;
		float:left;
	}
    .navbar-left {
        float: left;
        margin-left: 0%!important
    }
    .nav > li > a {
        padding: 25px 10px!important;
    }
    .navbar-nav > li > a {
        padding-top: 25px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom: 0px!important;
    }
    .navbar-collapse > .menu {
        width: 15%;
        float: left;
        hegiht: auto;
        list-style: none;
    }
   /* #home #detail .container .cnwarp .fa-icon1,
	#home #detail .container .cnwarp .fa-icon2,
	#home #detail .container .cnwarp .fa-icon3{
		width:120px;
	    float:left;
	    margin-left:24%;
	    margin-right:24%;
	    height:120px;
		background-size:120px;
	}
	#home #detail .container .cnwarp .fa-icon1:hover,
	#home #detail .container .cnwarp .fa-icon2:hover,
	#home #detail .container .cnwarp .fa-icon3:hover{
		width:120px;
	    float:left;
	    margin-left:24%;
	    margin-right:24%;
	    height:120px;
		background-size:120px;
	}*/
    .btn-mm{
        width:45%;
        float:left;
    }
    .btn-ms{
        width:50%;
        float:left;
    }
    .fadeInUp{
        margin-bottom:0px;
    }
    .col-sm-6{
        /*width:33.3%;*/
        float:left;
        height:auto;
        margin:0;
    }
    .col-md-2{
        width:25%;
    }
    .anwarp{
        width:100%;
        float:left;
        text-align:center;
    }
    .centerlist {
        width: 100%;
        float: left;
        margin-left: 0%;
        margin-right: 0%;
    }
    /*Jade页面*/
    #content2 .contentDiv2{
		width:100%;
		height:400px;
		padding:30px 20px;
		margin:0 auto;
	}
	/*******startups******/
	.startupsDiv{
		margin-top:140px;
		text-align:center;
	}
	.startupsDiv h3{
		width:100%;
		font-size:18px;
		text-align:center;
	}
	#startupsImg ul{
		width:100%;
	}
	#startupsImg ul li{
		width:25%
	}
	.PcomingDiv .session p{
		padding-left:20px;
	}
	#news{
		padding:0 9%;
	}
	/*background页面*/
	#content .contentDiv{
		width:100%;
	}
	#content .contentDiv p{
		padding:0 20px;
	}
	/**location页面****/
	.gallery-grids ul li{
		float:left;
		margin:0 15px 15px 0!important;
	}
	.contact .map iframe{
		width:100%!important;	}
}

@media screen and (min-width: 992px){
	#register .headvideo{
		height:350px;
	}
    .navbar-left {
    }
    .nav > li > a {
        padding: 25px 15px;
    }
    .navbar-nav > li > a {
        padding-top: 25px;
        padding-left:15px;
        padding-right:15px;
        padding-bottom: 10px;
    }
    
    .navbar-collapse > .menu {
        width: 15%;
        float: left;
        hegiht: auto;
        margin-left:30px;
        list-style: none;
    }

    #intro h3{
        margin-top:150px;
        width:100%;
        float:left;
        height:auto;
    }
    .bnwarp{
        padding: 5px 0px;
        width: 46%;
        float: left;
    }
    .anwarp{
        padding: 5px 0px;
        width: 100%;
        float: left;
    }
    .section-title h2{
        width:100%;
        float:left;
        font-style:normal;
        height:auto;
    }
    .cnwarp{
        padding: 15px 0px;
        width: 33.3%!important;
        float: left;
    }
    .conwarp{
        width:100%;
        float:left;
        height:auto;
        padding:15px 0px;
    }
    .fastimg{
        width:20%;
        float:left;
        padding:15px 15px;
    }
    /*animated {
        padding: 15px 15px;
        float: left;
    }*/
    
}


/*大于320 and 小于480*/
@media screen and (min-width: 320px) and (max-width:480px){
	body,html{
		width:100%;
	}
	.rightBtn{
		display:block!important;
	}
	.gtco-accordion .gtco-accordion-heading .icon i{
		font-style:normal;
	}
	.reveal-modal{
		width:96%!important;
		margin-left: 2%!important;
		left:0!important;
		padding:70px 0 0!important;
		position:absolute!important;
	}
	.reveal-modal .reveal_left{
		width:60px;
		height:60px;
		position:absolute;
		top:10px;
		left:50%;
		margin:0 0 0 -30px;
	}
	.reveal-modal .reveal_left>img{
		width:60px;
		height:60px;
	}
	.reveal-modal .reveal_right{
		width: 100%;
	}
	.reveal-modal .reveal_right h1,.reveal-modal .reveal_right>span{
		text-align:center;	
	}
	.reveal-modal .reveal_right h1{
		margin:5px 0 0;	
		font-size:16px;
	}
	.reveal-modal .reveal_right>span{
		margin:0 0 20px;
		font-size:14px;
	}
	.reveal-modal .reveal_right>p{
		line-height:18px;
		padding:0 20px;
	}
	#detail .row .wowDIV{
		position:relative;
		padding-top:120px;
	}
	#home #detail .container .cnwarp .fa-icon1,
	#home #detail .container .cnwarp .fa-icon2,
	#home #detail .container .cnwarp .fa-icon3{
		width:120px;
	    float:left;	    
	    height:120px;
		background-size:120px;
		position:absolute;
		top:0;
		left:50%;
		margin-left:-60px;
	}
	#home #detail .container .cnwarp .fa-icon1:hover,
	#home #detail .container .cnwarp .fa-icon2:hover,
	#home #detail .container .cnwarp .fa-icon3:hover{
		width:120px;
	    float:left;	    
	    height:120px;
		background-size:120px;
		position:absolute;
		top:0;
		left:50%;
		margin-left:-60px;
	}
	.listwarp{
		margin-top:0;
	}
	.banner3 .con-warp{
		margin:80px 0 0;
	}
	#gtco-services .gtco-tabs .gtco-tab-nav>li i{
		display:block;
		width:30px;
		height:30px;
	}
	#gtco-services .gtco-tabs ul li .focus01{
		background:url(../view/img/f03.png) no-repeat;
		background-size:cover;
	}
	#gtco-services .gtco-tabs ul li .focus01:hover{
		background:url(../view/img/f04.png) no-repeat;
		background-size:cover;
	}
	#gtco-services .gtco-tabs ul li .focus02{
		background:url(../view/img/f01.png) no-repeat;
		background-size:cover;
	}
	#gtco-services .gtco-tabs ul li .focus02:hover{
		background:url(../view/img/f02.png) no-repeat;
		background-size:cover;
	}
	#gtco-services .gtco-tabs ul li .focus03{
		background:url(../view/img/f05.png) no-repeat;
		background-size:cover;
	}
	#gtco-services .gtco-tabs ul li .focus03:hover{
		background:url(../view/img/f06.png) no-repeat;
		background-size:cover;
	}
	#gtco-services .gtco-tabs ul li .focus04{
		background:url(../view/img/f07.png) no-repeat;
		background-size:cover;
	}
	#gtco-services .gtco-tabs ul li .focus04:hover{
		background:url(../view/img/f08.png) no-repeat;
		background-size:cover;
	}
	#gtco-services .gtco-tabs ul li .focus05{
		background:url(../view/img/f09.png) no-repeat;
		background-size:cover;
	}
	#gtco-services .gtco-tabs ul li .focus05:hover{
		background:url(../view/img/f10.png) no-repeat;
		background-size:cover;
	}
	.container{
		padding-left:20px;
		padding-right:20px;
	}
	.AnnouncementsBanner .backgroundDiv{
		padding:60px 20px 0;
	}
	.pressBanner .backgroundDiv h3{
		font-size:26px;
	}
	.contactBanner .backgroundDiv h3{
		font-size:26px;
		margin-bottom:10px;
	}
	.contactBanner .backgroundDiv .sendMassage{
		margin:30px auto;
	}
	.videoDiv .title{
		font-size:14px;
		margin:0;
	}
	.wowSpan{
		display: block;
		font-size:32px;
	}
	#intro #titleC{
		font-size:32px;
	}
	.banner3 .con-warp{
		font-size:26px;
	}
	/******focus 页面*********/
	#gtco-services{
		margin-top:100px!important;
	}
	#gtco-services .gtco-container .gtco-tab-content-wrap{
		height:450px!important;
	}
	#gtco-services .focusH3{
		display:block;
		text-align:center;
	}
	.navbar{
		min-height:70px;
		
	}
	.top-nav-collapse{
		box-shadow: 0px 0px 10px 0px #e1e1e1;
	}
	#logoId{
		height:60px;
		margin-top:5px;
	}
	/*******contact us********/
	.contactBanner{
		margin-top:70px;
		height:340px;
		background: url(../images/contactUs.png) no-repeat;
    	background-size: cover;
	}
	.contactBanner .backgroundDiv{
		padding:100px 20px;
	}
	.gtco-tabs .hidden-xs{
		display:none!important;	}
	.videoBanner .backgroundDiv{
		padding:60px 20px 0
	}
	#intro .row{
		margin-top:0;
	}
	/*******press页面********/
	.pressBanner{
		margin-top:70px;
	}
	.pressDiv .pressCenter{
		width:80%;
		position:absolute;
		left:10%;
		margin:0;
		padding:100px 30px;
	}
	
	.pressDiv .pressCenter h3{
		font-size:16px;
	}
	.pressDiv .pressCenter p{
		font-size:14px;
	}
	.pressContent{
		position: absolute;
	    top: 550px;
	    width: 80%;
	    left: 10%;
	    margin:0px;
	    background: #e9e9e9;
	}
	.pressDiv .pressCenter p{
		
	}
	#startupsImg{
		height:800px;
	}
	/*********apply****************/
	.applyBanner{
		width: 100%;
		height:210px;
		background:url(../images/apply.png) no-repeat;
		background-size:cover;
		margin-top:70px;
	}
	.applyBanner .backgroundDiv{
		padding-top:30px;
	}
	.applyBanner .backgroundDiv h3{
		text-align:center;
		color:#fff;
		font-size:26px;
	}
	.applyDiv{
		width:100%;
		height:340px;
		background:#e9e9e9;
		position:relative;
	}
	.applyDiv .pressCenter{
		position:absolute;
		top:-80px;
		left:5%;
		margin-left:0px;
		width:90%;
		padding:20px 10px 20px 20px;
		border:1px solid #333;
		background:#fff;
		z-index:999;
	}
	.applyDiv .pressCenter>ul{
		padding-left:20px;
	}
	.applyDiv .pressCenter h3{
		font-size:16px;
		color:#333;
		font-weight: 400;
		line-height:20px;
		height:45px;
		font-weight: bold;
	}
	.applyDiv .pressCenter ul li{		
		font-size:14px;
		color:#333;
		margin-bottom:10px;
		text-align:justify;
	}
	.applyDiv .pressContent{
		width:100%;
		top:220px;
		left:0;
		margin-left:0;
	}
	/*首页*/
	.rightBtn{
		display:block!important;
	}
	.newlywarp{
		margin-bottom:0;
	}
	.newlywarp ul li{
		width:100%!important;
		margin-bottom:30px;
	}
	.newlywarp ul li .span1{
		margin-bottom:5%;
	}
	.newlywarp2{
		width:100%;
		margin:0;
	}
	.newlywarp2 ul li{
		width:100%;
		margin:0 0 10px 0;
	}
	/*********location页面***********/
	.location{
		margin-top:70px;
		background:url(../images/location.png) no-repeat;
		background-size:cover;
	}
	.location .LocationDiv{
		padding:30px 30px;
		text-align:left;
	}
	.location .LocationDiv p{
		display: inline;
		font-size:14px;
	}
	#acheive .gal-alt{
		width:31%;
	}
	.gallery-grids ul li{
		margin:0 1.16% 2.32%!important;
		float:left;
	}
	.contact .map iframe{
		width:100%;
	}
	.imgShow{
		width:100%;
		height:250px;
		position:fixed;
		top:50%;
		left:0;
		background:#f00;
		z-index:10000000000;
		margin-left:0;
		margin-top:-125px;
	}
	#acheive .gallery-grids .hide-box h4{
		font-size:14px;
	}
	/***************
	 * 
	 * video页面
	 * 
	 * ********************/
	.videoBanner{
		margin-top:70px;
		height:210px;
		background: url(../images/video.png) no-repeat;
    	background-size: cover;
	}
	.videoBox{
		margin:30px auto 0;
	}
	.videoBanner .backgroundDiv h3{
		font-size:26px;
	}
	.videoBox{
		width:100%;
		padding:0 20px;
	}
	.videoBox .video1 p{
		padding:0px;
		text-align:justify;
		line-height:20px;
	}
	.videoBox .video1 h3{
		font-size:18px;
		font-weight: 300;
		line-height:25px;
		text-align:left;
	}
	.videoBox .video1 .videoImg{
		width:100%;
		height:100%;
	}
	.videoBox .video1 .videoImg img{
		width:100%;
	}
	.videoDiv{
		width:98%;
		height:345px;
		margin-left:-49%;
		margin-top:-172px;
	}
	.videoWindow{
		width:100%!important;
		height:100%!important;
	}
	
	/***************
	 * Retrospect页面
	 * 
	 * ***********************/
	.banner3{
		margin-top:70px;
		background: url(../images/Retrospect.png) no-repeat;
    	background-size:cover;
    	height:210px;
	}
	.listwarp ul li{
		min-height:550px!important;
		position:relative;
	}
	#RetrospectList ul li{
		min-height:600px!important;
		position:relative;
	}
	.listwarp ul li #eventImg{
		width:100%;
		height:250px;
		margin-bottom:20px;
		background:url(../images/upcoming.jpg) no-repeat;
		background-size:cover;
	}
	.listwarp ul li #retroImg1{
		width:100%;
		height:250px;
		margin-bottom:20px;
		background:url(../images/Retrospect.jpg) no-repeat;
		background-size:cover;
	}
	.listwarp ul li #retroImg2{
		width:100%;
		height:250px;
		margin-bottom:20px;
		background:url(../images/Retrospect2.jpg) no-repeat;
		background-size:cover;
	}
	.listwarp ul li .span1>img{
		display:none;
	}
	.listwarp ul li .span2{
		width:100%;
	}
	.listwarp ul li .span2 h5{
		font-size:18px!important;
		text-align:justify;
	}
	.listwarp ul li .span2 .p1{
		font-size:16px;
	}
	 .listwarp ul li:nth-of-type(1) .span2 .p3{
		position:absolute;
		bottom:-50px;
		left:50%;
		margin:0;
		padding:0;
		margin-left:-70px;
	}
	.listwarp ul li:nth-of-type(2) .span2 .p3{
		position:absolute;
		bottom:-50px;
		left:50%;
		margin:0;
		padding:0;
		margin-left:-70px;
	}
	
	/************UpcomingEventContent页面**************/
	.EventContent{
		margin-top:70px;
		padding:30px 5%;
		width:100%;
	}
	.EventContent .EventContentTop{
		height:150px;
	}
	.EventContent .EventContentTop h3{
		width:100%;
		font-size:16px;
	}
	.EventContent .EventContentTop h4{
		font-size:16px;
		float:right;
		margin:0;
	}
	.EventContent .EventContentCenter ul:nth-of-type(1){
		height:120px;
		padding:0;
	}
	.EventContent .EventContentCenter .paid{
		margin-top:10px;
	}
	.EventContent .EventContentCenter ul:nth-of-type(1) li{
		clear:both;
		height:30px;
		line-height:30px;
		width:100%;
		margin:0;
	}
	.EventContent .EventContentCenter ul:nth-of-type(2){
		margin-top:20px;
		width:100%;
	}
	.EventContent .EventContentCenter ul:nth-of-type(2) li{
		min-height:30px;
		line-height:30px;
		margin:0;
	}
	.EventContent .EventContentCenter ul:nth-of-type(3) li{
		min-height:30px;
		line-height:30px;
		margin:0;
	}
	.EventContent .join{
		width:150px;
	    float:left;
	    height:40px;
	    border:1px solid #69ac49;
	    margin-top:15px;
	    line-height:40px;
	    text-align:center;
	    border-radius: 20px;
	    color:#69ac49;
	    margin-bottom:100px;
	    cursor:pointer;
	}
	/************
	 * Upcoming Events页面
	 * **************/
	.banner4{
		margin-top:70px;
		height:210px;
		background: url(../images/Upcoming.png) no-repeat;
    	background-size: cover;
	}
	.banner4 .row .con-warp{
		font-size:26px!important;
		margin:80px 0 0;
	}
	.PcomingDiv{
		width:100%;
	}
	.PcomingDiv .session p{
		width:100%;
		height:70px;
		padding:0 10px;
		line-height:20px;
		word-wrap:break-all;
		font-size:16px;
	}
	.PcomingDiv .PcomingImg{
		width:100%;
	}
	.PcomingDiv .PcomingImg img{
		width:100%!important;
	}
	.PcomingDiv .session ul{
		width:100%;
		height:60px!important;
		margin-top:10px;
		padding:0;
	}
	.PcomingDiv .session ul li{
		float:left;
		color:#333;
		height:30px;
		margin:0 10px 0 0;
		line-height:30px;
	}
	.PcomingDiv .session ul li img{
		width:30px;
		height:21px;
		margin-right:10px;
	}
	.PcomingDiv .session .paid{
		width:80px;
		height:20px;
		background:url(../images/Pcoming5.png) no-repeat;
		background-size:cover;
		margin:0;
		padding-left:30px;
		color:#fff;
		font-size:16px;
		font-weight: bold;
		line-height:20px;
	}
	.listwarp ul li .span2 #UpcomingH{
		font-size:20px;
		text-align:left;
	}
	.listwarp ul li .span2 .p2Div{
		width:100%;	
	}
	.listwarp ul li .span2 .p2{
		position:relative;
		/*overflow:hidden;
		 height: 100px;*/
	}
	.listwarp ul li .span2 .p2:before{
		display: block;
	    content: attr(data-content);
	    position: absolute;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    height: 100px;
	    width: 100%;
	    overflow: hidden;
	}
	/*.listwarp ul li .span2 .p2::after{
		content:attr(data-content);
	    font-weight:bold;
	    position:absolute;
	    bottom:0;
	    right:0;    
	}*/
	.ellipsis{
		display:none;
		font-weight: bold;
		position:absolute;
		bottom:0;
		right:0;
		background:#fff;
		height:25px;
		width:33px;
		line-height:25px;
	}
	/*announcements页面*/
	/*********
     * 
     * announcements页面
     * 
     * *********/
    .AnnouncementsBanner{
    	margin-top:70px;
    	height:210px;
    	background: url(../images/press.png) no-repeat;
    	background-size: cover;
    }   
    .AnnouncementsBanner .backgroundDiv h3{
    	font-size:26px;
    }
    #coming h2{
    	font-size:24px;
    }
	#news{
	width:100%;
	height:500px;
	}
	#news .newsBox{
		width:100%;
		padding:5% 10px;
	}
	#news .newsBox .newsLeft{
		width:50px;
		float:left;
	}
	#news .newsBox .newsLeft .newsSpan1{
		display:block;
		width:50px;
		height:50px;
		text-align:center;
		padding:10px 0;
		border-radius:25px;
		background:#34A319;
		color:#fff;
	}
	#news .newsBox .newsLeft .newsSpan2{
		width:1px;
		height:400px;
		display:block;
		background:#d6d6d6;
		margin-left:25px;
	}
	#news .newsBox .newsRight{
		float:left;
		width:300px;
		margin:0;
	}
	#news .newsBox .newsRight h4{
		word-break:break-all;
		width:100%;
		line-height:20px;
		color:#0d0d0d;
		font-size:16px;
		font-weight: 400;
	}
	#news .newsBox .newsRight .newsImg{
		background:#f00;
		width:100%;
		height:200px;
		margin-bottom:20px;
	}
	#news .newsBox .newsRight .newsContent{
		width:100%;
		word-break:break-all;
	
	}
	#news .newsBox .newsRight .button{
		color:#31a117;
		display:block;
		width:120px;
		height:50px;
		font-size:20px;
		line-height:50px;
		margin-bottom:50px;
	}
	/***********
	 * 
	 * 
	 * ********/
	.reveal_right{
		width:300px;
	}
	.fh5co-links{
		font-size:12px;
	}
	.gtcoTop img{
		width:100%;
		height:200px!important;
	}
	.gtco-tab-content-wrap{
		height:600px!important;
	}
	#intro .container{
     	margin:0;
     	padding:0;
     	width:100%;
     }
	.column-left{
		margin:0;
		padding:0;
	}
	#detail .row .wowDIV{
		margin-bottom:30px;
	}
    /*.navheader{
    	position: fixed!important;
        top:0;
    }*/
   #team .container .wow h3{
   		font-size:12px;
   		margin:0;
   		line-height:24px;
   }
   #team .container .wow h6{
   		font-size:12px;
   		margin-bottom:10px;
   		margin-top:0;
   }
    #team .big-link{
    	margin-top:0!important;
    }
   
    .top-nav-collapse {
        background: #fff!important;
        padding: 0;
        position: fixed!important;
        top:0;
    }
    .top-nav-collapse2{
    	background: #101010!important;
    }
    .btn-mm{
        width:40%;
        float:left;
        height:auto;
    }
    .btn-ms{
        width:40%;
        float:left;
        height:auto;
    }
    #intro h3 {
        width: 100%;
        float: left;
        height: auto;
    }
    .cenernt{

    }
    .cenernt .btn-default{
        float:left;
        height:auto;
        background:green;
        z-index:1;
    }
    .cenernt .btn-danger{
        float:right;
        height:auto;
    }
    #contact .btn{
        background: transparent;
        border: 2px solid #ffffff;
        border-radius: 0px;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 20px;
        padding: 6px 2px;
        margin-top: 5px;
        margin-right: 12px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    #intro .btn {
        background: transparent;
        border: 2px solid #ffffff;
        border-radius: 0px;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 18px;
        padding: 6px 5px;
        margin-top: 15px;
        margin-right: 12px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .cenernt .btn-default{
        border-radius: 30px;
    }
    .centerlist {
        width: 100%;
        float: left;
        margin-left: 0%;
        margin-right: 0%;
    }
    #sponsors .fastimg{
        width:33.3%;
        padding:5px!important;
    }
    .parwarp h2{
        width:100%;
        float:left;
        height:auto;
        padding:10px 0px;
    }
    .conwrap .row h3 {
        margin-top: 70px;
        font-family: Microsoft Yahei;
        font-size: 30px;
        line-height: 60px;
        font-weight: bold;
        color: #fff;
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 50px;
    }
    #register .container .headvideo{
    	width:100%!important;
    }
    #register .container .rightvideo{
    	width:100%!important;
    	margin:0;
    }
    #register .container .gtco-video ul li{
    	width:100%;
    	height:350px;
    	position:relative;
    }
    #register .container .gtco-video ul li i{
    	position:absolute;
    	left:50%;
    	top:50%;
    	margin-top:-33px;
    	margin-left:-33px;
    }
    #contact .container .row .fontwarp{
    	width:100%!important;
    	height:400px;
    }
    .fh5co-footer-widget {
        width: 50%!important;
        float: left;
        height: 200px;
        color: #fff;
    }
    .fh5co-footer-aidget{
    	width: 50%!important;
        float: right;
        height: 200px;
        color: #fff;
        margin:0;
    }
    .fh5co-footer-bidget{
    	width: 50%!important;
        float: left;
        height: 200px;
        color: #fff;
    }
    .fh5co-footer-warp{
        width:50%;
        float:left;
        height:200px;
    }
    .fh5co-footer-wechat{
    	width:50%;
    	float:left;
    }
    .bounceIn{
        width:100%;
        float:left;
        text-align:center;
    }
    .fadeInULeft > p{
        width:90%;
        float:left;
        margin-left:5%;
        margin-right:5%;
        height:auto;
    }
    #overview .container .row p{
    	width:100%;
    	margin-left:0;
    	margin-right:0;
    	font-size:14px;
    	line-height:20px;
    }
    #gtco-faq .gtco-container{
    	margin:50px auto 0;
    }
    #gtco-faq .gtco-container .row{
    	padding:0;
    }
    #home #overview .container .row .wow.fadeInULeft.col-md-6.col-sm-6.column-left .p2 i{
        text-transform: capitalize;
        font-style:normal;
        font-size:14px;
    }
    .fadeInRight > img{
        width:100%;
        height:100%;       
       /* margin-right:5%;*/
    }
    .cnwarp{
        width:90%;
        float:left;
        margin-left:5%;
        margin-right:5%;
     /*   height:auto;*/
    }
    .conwrap > .row > h3{
        width:90%;
        float:left;
        margin-left:5%;
        margin-right:5%;
        height:auto;
    }
    .conwrap > .row > p{
        width:90%;
        margin-left:5%;
        margin-right:5%;
        float:left;
        heigh:auto;
    }
    #register > h3{
        width:90%;
        float:left;
        margin-left:5%;
        margin-right:5%;
        height:auto;
    }
    #register {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .fadeInUp > video,.fadeInUp > p, #register h3, #register h4{
        width:100%;
        float:left;
        margin-left:5%;
        margin-right:5%;
        height:auto;
    }
    #detail .fadeInUp > p{
    	width:90%;
    }
    #register h3,#register h4,#register .fadeInUp > p{
    	margin-left:0;
    	margin-right:0;
    }
    #register .headvideo .h4{
    	margin-bottom:10px;
    	position:static;
    	margin-top:10px;
    }
    /*team页面*/
   	#banner{
	   	margin-top:70px;
	   	height:340px;
   	    background: url(../images/team.png) no-repeat;
    	background-size: cover;
   	}
   #banner p{
   	font-size:18px;
   	top:100px;
   }
   #banner .present{
   	top:150px;
   }
   #banner>p{
   	font-size:26px;
   }
   #banner .present>p{
   	text-align:left;
   	padding:0 30px;
   	line-height:20px;
   	font-size:14px;
   }
   .section-title h2{
   	font-size:22px;
   }
   #detail .container .row .section-title h2{
   	font-size:22px;
   }
   #team .container .row .section-title h2{
   	font-size:22px;
   }
   #team .conwrap .row h3{
   	font-size:22px;
   	margin-top:0;
   	line-height:40px;
   }
   .container .row .new_title{
   	font-size:22px;
   }
   #sponsors .section-title h2{
   	font-size:22px;
   }
   #register .container .wow{
   	padding-left:0;
   	padding-right:0;
   	display:table;
   }
   #register .container .containerH4{
   	font-size:16px;
   	line-height:24px;
   }
    #register .container .headvideo > p{
    	line-height:20px;
    	display:table-cell;
    	vertical-align:middle;
    }
   #detail h3{
   	font-size:20px;
   }
   /*changcheng页面*/
  .peopleBanner{
  	margin-top:70px;
  }
  .peopleBanner .details{
  	width: 100%;
  	padding:20px 10%;
  }
  .peopleBanner .details .h2{
  	font-size:24px;
  }
  .peopleBanner .details .h4{
  	font-size:20px;
  }
  /*background页面*/
    .backgroundBanner{
	    margin-top:70px;
	    background: url(../images/background.png) no-repeat;
	    background-size:cover;
	    height:340px;
	}
	.backgroundBanner .backgroundDiv{
		width:100%;
		padding:50px 30px 0;
		z-index:100;
		text-align:left;
	}
	.backgroundBanner .backgroundDiv h3{
		font-size:26px;
	}
	.backgroundBanner .backgroundDiv p{
		text-align:justify;
		color:#fff;
		font-size:16px;
		line-height:20px;
		margin-bottom:10px;
		display:inline;
	}
	#content {
	/*	height:550px;*/
	}
	#content .contentDiv{
		width:100%;
		/*height:550px;*/
		padding:30px 20px;
		margin:0 auto;
	}
	#content .contentDiv p{
		line-height:24px;
		font-size:14px;
	}
	/*Jade页面*/
	.JadeBanner{
	    margin-top:70px;
	    background: url(../images/theJade.png) no-repeat;
    	background-size: cover;
	}
	.JadeBanner .JadeDiv{
		width:100%;
		padding:50px 30px 0;
		z-index:100;
		text-align:left;
	}
	.JadeBanner .JadeDiv h3{
		font-size:26px;
	}
	.location .LocationDiv h3{
		font-size:26px;
	}
	.location .LocationDiv p{
		font-size:16px;
		line-height:20px;
	}
	.JadeBanner .JadeDiv p{
		text-align:justify;
		color:#fff;
		font-size:16px;
		line-height:20px;
		display:inline;
	}
	#content2 {
		height:400px;
	}
	#content2 .contentDiv2{
		width:100%;
		height:400px;
		padding:30px 20px;
		margin:0 auto;
	}
	#content2 .contentDiv2 p{
		line-height:24px;
		font-size:14px;
	}
	/*******startups******/
	.startupsDiv{
		margin-top:30px;
		height:160px;
		text-align:center;
	}
	.startupsDiv h3{
		width:100%;
		font-size:18px;
		text-align:center;
	}
	#startupsImg ul{
		width:100%;
		padding:5% 5%;
	}
	#startupsImg ul li{
		width:33.3%;
		padding:5px 5px;
	}
	.navbar-brand{
		padding:0;
	}
}
@media screen and (max-width: 410px) and (min-width:375px){
	#intro .cenernt{
		padding:0 15%!important;
	}
	/*#register .headvideo{
		height:350px;
	}*/
	.imgShow{
		width:100%;
		height:230px;
		position:fixed;
		top:50%;
		left:0;
		background:#f00;
		z-index:10000000000;
		margin-left:0;
		margin-top:-115px;
	}
	#startupsImg{
		height:700px;
	}
	/*#home #detail .container .cnwarp .fa-icon1,
	#home #detail .container .cnwarp .fa-icon2,
	#home #detail .container .cnwarp .fa-icon3{
		width:120px;
	    float:left;
	    margin-left:28%;
	    margin-right:40%;
	    height:120px;
		background-size:120px;
	}
	#home #detail .container .cnwarp .fa-icon1:hover,
	#home #detail .container .cnwarp .fa-icon2:hover,
	#home #detail .container .cnwarp .fa-icon3:hover{
		width:120px;
	    float:left;
	    margin-left:28%;
	    margin-right:40%;
	    height:120px;
		background-size:120px;
	}*/
}
@media screen and (max-width: 470px) and (min-width:410px){
	.listwarp ul li #eventImg{
		width:100%;
		height:280px;
	}
	.listwarp ul li #retroImg1{
		width:100%;
		height:280px;
	}
	.listwarp ul li #retroImg2{
		width:100%;
		height:280px;
	}
	.videoDiv{
		height:370px;
		margin-top:-185px;
	}
	#intro .cenernt{
		padding:0 15%!important;
	}
	/*#register .headvideo{
		height:350px;
	}*/
	/*#home #detail .container .cnwarp .fa-icon1,
	#home #detail .container .cnwarp .fa-icon2,
	#home #detail .container .cnwarp .fa-icon3{
		width:120px;
	    float:left;
	    margin-left:31%;
	    margin-right:40%;
	    height:120px;
		background-size:120px;
	}
	#home #detail .container .cnwarp .fa-icon1:hover,
	#home #detail .container .cnwarp .fa-icon2:hover,
	#home #detail .container .cnwarp .fa-icon3:hover{
		width:120px;
	    float:left;
	    margin-left:31%;
	    margin-right:40%;
	    height:120px;
		background-size:120px;
	}*/
}
@media screen and (max-width: 370px) and (min-width:350px){
	#startupsImg{
		height:680px;
	}
}
@media screen and (max-width: 370px) and (min-width:320px){
	.listwarp ul li #eventImg{
		width:100%;
		height:210px;
	}
	.listwarp ul li #retroImg1{
		width:100%;
		height:210px;		
	}
	.listwarp ul li #retroImg2{
		width:100%;
		height:210px;
	}
	#gtco-services .gtco-tabs .gtco-tab-nav>li i{
		margin-left:-5px;
	}
	.JadeBanner,.location,.backgroundBanner,.contactBanner,#banner{
	    height:290px;
	}
	.banner3{
    	height:180px;
	}
	.videoBanner{		
		height:180px;		
	}
	.banner4{
		height:180px;
	}
	#banner p{
		top:80px;
	}
	#banner .present{
		top:125px
	}
	.applyBanner{
		height:180px;
	}
	.videoDiv .title{
		font-size:14px;
	}
	.listwarp ul li .span2 #UpcomingH{
		height:75px;
	}
	#acheive .gallery-grids .hide-box{
		paddding:15% 0 0;
	}
	#intro .cenernt{
		padding:0 10%!important;
	}
	.applyDiv{
		height:360px;
	}
	/*#register .headvideo{
		height:400px;
	}*/
	.imgShow{
		width:100%;
		height:200px;
		position:fixed;
		top:50%;
		left:0;
		background:#f00;
		z-index:10000000000;
		margin-left:0;
		margin-top:-100px;
	}
	/****首页*****/
	/*#home #detail .container .cnwarp .fa-icon1,
	#home #detail .container .cnwarp .fa-icon2,
	#home #detail .container .cnwarp .fa-icon3{
		width:120px;
	    float:left;
	    margin-left:24%;
	    margin-right:38%;
	    height:120px;
		background-size:120px;
	}
	#home #detail .container .cnwarp .fa-icon1:hover,
	#home #detail .container .cnwarp .fa-icon2:hover,
	#home #detail .container .cnwarp .fa-icon3:hover{
		width:120px;
	    float:left;
	    margin-left:24%;
	    margin-right:38%;
	    height:120px;
		background-size:120px;
	}*/
	/*********
     * 
     * announcements页面
     * 
     * *********/
    .AnnouncementsBanner{
    	margin-top:70px;
    	height:180px;
    }
    .AnnouncementsBanner .backgroundDiv h3{
    	font-size:32px;
    }
	#news{
	width:100%;
	height:500px;
	}
	#news .newsBox{
		width:100%;
		padding:5% 10px;
	}
	#news .newsBox .newsLeft{
		width:50px;
		float:left;
	}
	#news .newsBox .newsLeft .newsSpan1{
		display:block;
		width:50px;
		height:50px;
		text-align:center;
		padding:10px 0;
		border-radius:25px;
		background:#34A319;
		color:#fff;
	}
	#news .newsBox .newsLeft .newsSpan2{
		width:1px;
		height:400px;
		display:block;
		background:#d6d6d6;
		margin-left:25px;
	}
	#news .newsBox .newsRight{
		float:left;
		width:250px;
		margin:0;
	}
	#news .newsBox .newsRight h4{
		word-break:break-all;
		width:100%;
		line-height:20px;
		color:#0d0d0d;
		font-size:16px;
		font-weight: 400;
	}
	#news .newsBox .newsRight .newsImg{
		background:#f00;
		width:100%;
		height:200px;
		margin-bottom:20px;
	}
	#news .newsBox .newsRight .newsContent{
		width:100%;
		word-break:break-all;
	
	}
	#news .newsBox .newsRight .button{
		color:#31a117;
		display:block;
		width:120px;
		height:50px;
		font-size:20px;
		line-height:50px;
		margin-bottom:50px;
	}
	/*video*/
	.videoDiv{
		width:300px;
		height:330px;
		margin-left:-150px;
	}
	.videoWindow{
		width:100%!important;
		height:100%!important;
	}
	.peopleBanner .details p{
		font-size:12px;
	}
	/******retrospect页面***/
	 .listwarp ul li:nth-of-type(1) .span2 .p3{
		position:absolute;
		bottom:-40px;
		left:50%;
		margin:0;
		padding:0;
		margin-left:-70px;
	}
	.listwarp ul li:nth-of-type(2) .span2 .p3{
		position:absolute;
		bottom:-40px;
		left:50%;
		margin:0;
		padding:0;
		margin-left:-70px;
	}
	/*.con-warp{
		font-size:30px!important;
	}*/
	#team .container .wow h6{
		font-size:12px;
	}
	#content {
		/*height:650px;*/
	}
	#content .contentDiv{
		width:100%;
		/*height:650px;*/
		padding:30px 20px;
		margin:0 auto;
	}
	.startupsDiv h3{
		font-size:16px
	}
	#startupsImg{
		height:600px;
	}
}
@media screen and (max-width: 640px) and (min-width:480px){
    .btn-mm{
        width:40%;
        float:left;
        height:auto;
    }
    .btn-ms{
        width:40%;
        float:left;
        height:auto;
    }
}
@media (min-width: 769px) {

    #intro {
        height: 100vh;
    }
    .lastimg img{
        width:100%;
        height:100%;
    }


}
@media (max-width: 700px){
	.rightBtn{
		display:block!important;
	}
}
@media (max-width: 768px) {	
	#intro h3{
		font-size:32px;
	}
	.top-nav-collapse2{
    	background: #101010!important;
    }
    .top-nav-collapse {
        background: #fff!important;
        padding: 0;
        position: fixed!important;
        top:0;
        box-shadow:0px 0px 10px 0px #e1e1e1;
        transition: box-shadow 0.3s ease-in-out;
    }
    #home{
    	width:100%;
    }
	#home .reveal-modal{
		width:96%!important;
		margin-left: 2%!important;
		left:0!important;
		padding:70px 0 0!important;
		position:absolute!important;
	}
	.reveal-modal .reveal_left{
		width:60px;
		height:60px;
		position:absolute;
		top:10px;
		left:50%;
		margin:0 0 0 -30px;
	}
	.reveal-modal .reveal_left>img{
		width:60px;
		height:60px;
	}
	.reveal-modal .reveal_right{
		width: 100%;
	}
	.reveal-modal .reveal_right h1,.reveal-modal .reveal_right>span{
		text-align:center;	
	}
	.reveal-modal .reveal_right h1{
		margin:5px 0 0;	
		font-size:16px;
	}
	.reveal-modal .reveal_right>span{
		margin:0 0 20px;
		font-size:14px;
	}
	.reveal-modal .reveal_right>p{
		line-height:18px;
		padding:0 20px;
	}
    .custom-navbar .navbar-brand {
        line-height: 20px;
    }
    .EventContent{
    	width:100%;
    }
    .hidden-xs{
    	display:block!important;
    }
    .peopleBanner{
    	margin-top:70px;
    }
	#intro {
    	 height: 65vh;
    	 margin-top:50px;
    	 background: url('../images/intro-bg.jpg') 50% 0;
     }
     #intro .cenernt{
     	text-align:center;
     	width:100%;
     	padding:0 30%;
     	margin-top:30px;
     }
     #intro .container{
     	margin:0;
     	padding:0;
     }
    #intro .row{
    	margin-top:-50px!important;
    }
	#intro h3{
		font-size:20px;
		margin-bottom:0;
	}
	#intro .fadeInUp{
		font-size:18px;
	}
	#intro .aboutUs{
		width:100%;
		float:left;
		font-size:16px;
	}
	#intro .applyNow{
		width:100%;
		float:left;
		border-radius:30px!important;
		background:#69AC49;
		color:#fff;
		border:1px solid #69AC49;
		font-size:16px;
	}
    #overview img,
    #detail .col-md-4,
    {}

    .nav-tabs > li > a {
        font-size: 13px;
    }

    #program img {
        padding-bottom: 32px;
    }

    #sponsors img {
        padding-top: 0px;
    }

    #team img {
        padding-top: 0px;
        width:60%;
        height:60%;
    }

    #contact .contact_detail {
        margin-top: 82px;
    }
    #intro h3{
        width:100%;
        float:left;
        text-transform: capitalize;
        height:auto;
    }

    #sponsors .fastimg {
        padding: 5px 5px!important;
        float: left;
    }
    #overview .container .row .wow:nth-of-type(1){
    	position:relative;
    }
    .container .row ul li .span2{
    	position:relative;
    }
	.container .row .p3{
		position:absolute;
		left:50%;
		bottom:0;
		margin-left:-170px;
		margin-bottom:-50px;
	}
	#overview .container .row .wow:nth-of-type(2){
    	width:100%;
    	margin-top:80px;
    }
}

/*---------------------------------------
   Responsive styles
-----------------------------------------*/
@media (max-width: 980px) {

    p {font-size: 13px;}

    .custom-navbar .navbar-brand {
        font-size: 2rem;
    }
    
    #video iframe {
        margin-top: 42px;
    }

    #contact .contact_detail {
        background: #ffffff;
        padding: 10rem 3rem 10rem 5rem;
    }

}

@media(min-width:768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
    }
    .top-nav-collapse2{
    	background: #101010!important;
    }
    .top-nav-collapse {
        background: #fff!important;
        padding: 0;
        position: fixed!important;
        top:0;
        box-shadow:0px 0px 10px 0px #e1e1e1;
        transition: box-shadow 0.3s ease-in-out;
    }
    .custom-navbar.top-nav-collapse ul li a{
    	color:#666;
    }
    .hdr_shadow {
        position: fixed;
        /*top: 96px;*/
        width: 100%;
        background-image: url("../images/header_shadow.png");
        background-repeat: repeat-x;
        height: 10px;
        margin: auto;
        padding: 0;
        z-index: 500;
    }
}