<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FOCUS AREAS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
	<meta name="description" content="Free HTML5 Website Template" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../../css/style.css" />
  	<link rel="stylesheet" href="../../css/style2.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/focus.css" />
	
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<!--头部-->
		<div class="navbar navbar-fixed-top custom-navbar navheader" id="navbarId">
  <div class="container">
    <!--<script type="text/javascript">
        $(document).ready(function(){
            $(".ng-scope").click(function(){
                <!--$("#div1").slideToggle("slow");
            });
        });
    </script>-->
    <!-- navbar header -->
    <div class="navbar-header headerleft" > <a href="../../index.html" class="navbar-brand"><img id="logoId" src="../../images/logo2.png"></a> </div>
    <div class="collapse navbar-collapse ">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="../apply.html" class="smoothScroll">APPLY</a></li>
        <li> <a href="#About us" class="smoothScroll dropdown-toggle ng-binding ng-scope">About Us</a>
        <ul id="div1">
            <li> <a href="../../team.html">Team</a> </li>
            <li> <a href="focus.html">Focus Areas</a> </li>
            <li> <a href="../background.html">Background</a> </li>
            <li> <a href="../jade.html">The Jade</a> </li>
            <li> <a href="../location.html">Location</a> </li>
        </ul>
        </li>
        <li><a href="../startups.html" class="smoothScroll">STARTUPS</a></li>
        <li><a href="#EVENTS" class="smoothScroll3">EVENTS</a>
          <ul id="div2">
            <li> <a href="../../Upcoming Events.html">Upcoming Events</a> </li>
            <li> <a href="../../Retrospect.html">Retrospect </a> </li>
          </ul>
        </li>

        <li><a href="#BLOG" class="smoothScroll2">BLOG</a>
          <ul id="div3">
            <li> <a href="../Announcements.html">In the Press</a> </li>
            <li> <a href="../video.html">Videos </a> </li>
          </ul>
        </li>
      </ul>
      <ul class="menu">
        <li> <a href="focus.html">Eng&nbsp;&nbsp;<span>|</span></a> </li>
        <li> <a href="focusC.html">中文</a> </li>
      </ul>
    </div>
  </div>
  <div class="rightBtn" style="display:none">
  	<span></span>
  	<span></span>
  	<span></span>
  </div>
</div>
<div class="navList">
	<ul>	
		<li><a href="../apply.html">APPLY</a></li>
		<li>
			<a href="#ABOUTUS">ABOUT US</a>
			<ul>
				<li> <a href="../../team.html">Team</a> </li>
		    <li> <a href="focus.html">Focus Areas</a> </li>
		    <li> <a href="../background.html">Background</a> </li>
		    <li> <a href="../jade.html">The Jade</a> </li>
		    <li> <a href="../location.html">Location</a> </li>
			</ul>
		</li>
		<li><a href="../startups.html">STARTUPS</a></li>
		<li>
			<a href="#EVENT">EVENTS</a>
			<ul>
			 <li> <a href="../../Upcoming Events.html">Upcoming Events</a> </li>
  			 <li> <a href="../../Retrospect.html">Retrospect </a> </li>
			</ul>
		</li>
    <li>
    	<a href="#BLOG">BLOG</a> 
    	<ul>
    		<li> <a href="../Announcements.html">In the Press</a> </li>
    		<li> <a href="../video.html">Videos </a> </li>
    	</ul>
    </li>
    <li>
    	<a href="focus.html">ENG</a> | <a href="focusC.html">中文</a>
    </li>
	</ul>
</div>
	<div id="gtco-services">
		<div class="gtco-container">
			
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>FOCUS AREAS</h2>
					<p>We are investing in the areas we believe will have most impact on the future of inclusive Financial services in China. Are you running a cutting edge startup within these areas? Get in touch now!</p>
				</div>
			</div>
			<div class="row animate-box">				
				<div class="gtco-tabs">
					<ul class="gtco-tab-nav">
						<li class="active" ><a href="#" data-tab="1" class="focusA"><span class="icon visible-xs"><i class="focus01"></i></span><span class="hidden-xs">InsurTech</span></a></li>
						<li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="focus02"></i></span><span class="hidden-xs">Blockchain</span></a></li>
						<li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="focus03"></i></span><span class="hidden-xs">Robo Advising</span></a></li>
						<li><a href="#" data-tab="4"><span class="icon visible-xs"><i class="focus04"></i></span><span class="hidden-xs">Real Estate Big Data / AI</span></a></li>
						<li><a href="#" data-tab="5"><span class="icon visible-xs"><i class="focus05"></i></span><span class="hidden-xs">Credit Diagnostics</span></a></li>
					</ul>

					<!-- Tabs -->
					<div class="gtco-tab-content-wrap">

						<div class="gtco-tab-content tab-content active" data-tab-content="1">
							<div class="col-md-6 gtcoBottom" id="gtcoBottom">
								<h3 class="focusH3">InsurTech</h3>
								<p>InsurTech companies use technology to make insurance more efficient. The insurance industry is currently undergoing a large disruption face, where Artificial Intelligence will play a central role in bringing more inclusive and personalized insurance products. </p>								
							</div>
							<div class="col-md-6 gtcoTop" id="gtcoTop">
								<div class="icon icon-xlg InsurTech">									
									<img src="images/InsurTech.jpg" alt="" />
								</div>
							</div>
							
						</div>

						<div class="gtco-tab-content tab-content" data-tab-content="2">
							<div class="col-md-6 gtcoBottom">
								<h3 class="focusH3">Blockchain</h3>
								<p>Blockchain is nothing new, but was first conceptualized in 2008 by Satoshi Nakamoto, when implemented as a core component of Bitcoin. With the new applications of distributed Blockchain database, such as smart contracts, identity security and intellectual property protection, are we seeing a revolution of accountability, trust and transparency?</p>
							</div>
							<div class="col-md-6 gtcoTop">
								<div class="icon icon-xlg InsurTech">
									<img src="images/blockchain.jpg" alt="" />
								</div>
							</div>
							
						</div>

						<div class="gtco-tab-content tab-content" data-tab-content="3">
							
							<div class="col-md-6 gtcoBottom">
								<h3 class="focusH3">Robo Advising</h3>
								<p>Are robo-advisors taking over? The number of online wealth management startups providing automated financial advisory, i.e. algorithm-based portfolio management, has grown rapidly during the last years. Online financial advisory for the general public, formerly exclusively offered to high net worth people, is here to stay and will transform the industry to be more inclusive. </p>
							</div>
							<div class="col-md-6 gtcoTop">
								<div class="icon icon-xlg InsurTech">
									<img src="images/Robo-Advising.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="gtco-tab-content tab-content" data-tab-content="4">
							
							<div class="col-md-6 gtcoBottom">
								<h3 class="focusH3">Real Estate Big Data / AI</h3>
								<p>Will artificial intelligence make real estate brokers more professional, i.e.be a complement, or will it rather simply remove the need for their services? Big data is currently re-innovating the real estate industry by democratizing data and making it more transparent for all parts involved. This will especially be a disrupting force in emerging developing economies, such as China, where reliability of information and trust to the real estate industry is lacking.</p>
							</div>
							<div class="col-md-6 gtcoTop">
								<div class="icon icon-xlg InsurTech">
									<img src="images/Real-Estate-Big-Data.jpg" alt="" />
								</div>
							</div>
						</div>
						<div class="gtco-tab-content tab-content" data-tab-content="5">
							
							<div class="col-md-6 gtcoBottom">
								<h3 class="focusH3">Credit Diagnostics</h3>
								<p>The lack of credit history automatically excludes many people around the world from traditional financial services, such as credit lines and obtaining a loan. However, with new technology the ability to underwrite through innovation based on alternative data has grown rapidly. In China, the government is pushing for a national credit score as a linkage to financial inclusion </p>
							</div>
							<div class="col-md-6 gtcoTop">
								<div class="icon icon-xlg InsurTech">
									<img src="images/Credit-Diagnostics.jpg" alt="" />
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- ========================= fotter============================== -->
<section id="contact" class="parallax-section" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 fontwarp">
        <div class="fh5co-footer-widget">
          <h3>LINKS</h3>
          <ul class="fh5co-links">
            <li> <a href="http://www.shunwei.com/team">顺为资本</a> </li>
            <li> <a href="http://www.qimingvc.com/index.html">启明创投</a> </li>
            <li> <a href="http://www.chinagrowthcapital.com/">华创资本</a> </li>
            <li> <a href="http://caifu.yixin.com/">宜信财富</a> </li>
          </ul>
        </div>
        <div class="fh5co-footer-aidget">
          <h3>FURTHER INFORMATION</h3>
          <ul class="fh5co-links">
          	<li> <a href="../contactUs.html">Contact Us</a> </li>
            <li> <a href="../pressKit.html">Press Kit</a> </li>
            <li><a href="../Announcements.html">In The Press</a></li>
          </ul>
        </div>
        <div class="fh5co-footer-warp">
          <h3>FOLLOW US</h3>
          <ul class="fh5co-widget">          
            <li> <a href="https://www.facebook.com/jadevaluefintech/"><i class="icon_2"></i></a> </li>
            <li> <a href="https://www.linkedin.com/company/13216355?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A13216355%2Cidx%3A2-1-2%2CtarId%3A1476760352852%2Ctas%3A%20jadevalue%20fintech" ><i class="icon_3" ></i></a> </li>
            <li> <a href="https://twitter.com/Jadeworker"><i class="icon_4"></i></a> </li>         
          </ul>
        </div>
        <div class="fh5co-footer-wechat">
        		<img src="../../images/weixin.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	
	<script src="js/jquery.easing.1.3.js"></script>
	
	<script src="js/bootstrap.min.js"></script>
	
	<script src="js/jquery.waypoints.min.js"></script>
	
	<script src="js/owl.carousel.min.js"></script>
	
	<script src="js/jquery.countTo.js"></script>
	
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<script src="js/main.js"></script>
	</body>
	<script>
		$(window).scroll(function() {
		    if ($(".navbar").offset().top > 50) {
		        $(".navbar-fixed-top").addClass("top-nav-collapse");
		        $(".navbar-fixed-top").removeClass("top-nav-collapse2");
		        //$("#logoId").src="images/logo.png"; 
		        $("#logoId").attr("src","../../images/logo.png");       
		    } else {
		    	$(".navbar-fixed-top").addClass("top-nav-collapse2");
		        $(".navbar-fixed-top").removeClass("top-nav-collapse");
		        $("#logoId").attr("src","../../images/logo2.png");
		    }
		});
		$(".rightBtn").click(function(){ 
		    if($("body").hasClass("togg")){
		    	$("body").removeClass("togg")
		    }else{
		    	$("body").addClass("togg") 
		    }
		})
		if($("ul li:first-child").hasClass("active")){
	    	$(".focus01").css({
				background:"url(../img/f04.png) no-repeat",
				backgroundSize:"cover"
			})
	    }
	    $(".gtco-tab-nav li").click(function(){
	    	if($("ul li:first-child").hasClass("active")){
		    	$(".focus01").css({
					background:"url(../img/f04.png) no-repeat",
					backgroundSize:"cover"
				})
		    }else{
		    	$(".focus01").css({
					background:"url(../img/f03.png) no-repeat",
					backgroundSize:"cover"
				})
		    }
	    })
			
		
		
	</script>
</html>

