@media screen and (min-width: 320px) and (max-width:480px){
	.navbar{
		width:100%;
		min-height:70px;
	}
	#gtco-services .gtco-container .row .col-md-8>h2{
		font-size:26px;
	}
	#gtco-services .gtco-container .row .gtco-heading p{
		font-size:14px;
	}
	#gtco-services .gtco-tab-content{
		width:100%;
		padding:0 5%;
	}
	.focusH3{
		font-size:22px;
	}
}
